@charset "utf-8";
body {
    -ms-interpolation-mode: bicubic;
}

#header {
	margin-left: 30px;
	margin-top: 10px;
}
table {
	width: 90%;
	height: 70%;
}
#picture4, #picture5, #picture6 {
	position: absolute;
	top: 0;
	left: 0;
    opacity: 0;
}
#picture1, #picture2, #picture3 {
	position: absolute;
	top: 0;
	left: 0;
}
td {
    /*background: #000;*/
    overflow: hidden;
    padding: 0 0 0 0;
}
#col1, #col2, #col3 {
    overflow: hidden;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
    #col1 {
        position: absolute;
        top: 0;
        left: 0;
	    bottom: 0;
        width: 100%;
        height: 100%;
    }
    #row1 {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
}
@media screen and (-ms-view-state: filled) {
    #col1 {
        position: absolute;
        top: 0;
        left: 0;
	    bottom: 0;
        width: 100%;
        height: 100%;
    }
    #row1 {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
}

@media screen and (-ms-view-state: snapped) {
    #col1 {
        position: absolute;
        top: 0;
        left: 0;
	    bottom: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    #col1 {
        position: absolute;
        top: 0;
        left: 0;
	    bottom: 0;
        width: 100%;
        height: 100%;
    }
    #row1 {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
#appbar button 
{color:white;}


#filename {
    margin-bottom:30px
}